<!DOCTYPE html>
<html>
    <head>
     <%- include('partials/head'); %>
    </head>
    <body>
            <header>

            </header>
            <main>
                <div class="container p-3">
                    <div class="row align-items-center">
                        <div class="col"> 
                            <img src="/images/EPIC-icon.png" style="height:100px" class="img-fluid">
                        </div>
                        <div class="col"> 
                            <h2>EPIC Test POD</h2>
                        </div>
                        <div class="col"> 
                           
                        </div>                  
                    </div>
                </div>
                <div class="container p-3">
                    <div class="row gx-5">
                        <table class="table table-sm">
                            <tbody>
                                <tr>
                                    <th>Host</th>
                                    <td><%= header.host %></td>
                                </tr>
                                <tr>
                                    <th>httpVersion</th>
                                    <td><%= header.httpVersion %></td>
                                </tr>
                                <tr>
                                    <th>Method</th>
                                    <td><%= header.method %></td>
                                </tr>
                                <tr>
                                    <th>x-forwarded-for</th>
                                    <td><%= header.xforwardedfor %></td>
                                </tr>
                                <tr>
                                    <th>via</th>
                                    <td><%= header.via %></td>
                                </tr>
                                <tr>
                                    <th>Node Name</th>
                                    <td><%= process.env.NODE_NAME %></td>
                                </tr>
                                <tr>
                                    <th>Node IP</th>
                                    <td><%= process.env.POD_HOST_IP %></td>
                                </tr>
                                <tr>
                                    <th>POD Namespace</th>
                                    <td> <%= process.env.POD_NAMESPACE %></td>
                                </tr>
                                <tr>
                                    <th>POD Name</th>
                                    <td><%= process.env.HOSTNAME %></td>
                                </tr>
                                <tr>
                                    <th>POD IP</th>
                                    <td><%= process.env.POD_IP %></td>
                                </tr>
                                <% gtw.k8sservices.forEach(function(svc) { %>
                                <tr>
                                    <th>Service</th>   
                                    <td><%= svc.service %></td>
                                </tr>
                                <tr>
                                    <th>Selector</th>
                                    <td><%= svc.selector %></td>
                                </tr>    
                                <% }); %>
                                <% gtw.k8shttprts.forEach(function(rts) { %>
                                <tr>
                                    <th>http route</th>
                                    <td><%= rts.httproute %></td>
                                </tr>
                                <tr>
                                    <th>Gateway Name</th>
                                    <td><%= rts.parentRef_gwname %></td>
                                </tr>
                                <tr>
                                    <th>Gateway Namespace</th>
                                    <td><%= rts.parentRef_gwns %></td>
                                </tr>
                                <% }); %>
                                <% gtw.k8sgtws.forEach(function(gc) { %>
                                <tr>
                                    <th>Gateway Class Name</th>
                                    <td><%= gc.gatewayclassname %></td>
                                </tr>
                                <% }) %>

                            </tbody>

                        </table>
         
                        
                </div>
                 

                  


            </main>
        
        

        
        
    <footer>
    </footer>     

      
    </body>
</html>