body {
    margin: 0;
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  a.table-link:link {
    text-decoration: none;
    color: #212529;
  
  }
  
  a.table-link:visited {
    text-decoration: none;
    color: #212529;
  
  }
  
  a.table-link:hover {
   text-decoration: none; 
  }

 
a.modal-button:link {
  text-decoration: none;
  color: white;
}

a.modal-button:visited {
  text-decoration: none;
  color: white;
}

.textarea{
  width:80%;
  background-color:#ccff99;
  overflow:hidden;
  height:250px;
  max-height:250px;
  border:3px solid #ccc;
  overflow-y: auto;
}